@model _16_01.Models.Animals

@{
    ViewBag.Title = "Animals";
}

<h2>Animals</h2>

<div>
    <h4>Animals</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GeneralType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeneralType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kind)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
